# PythonBasics

In [ ]:
# Remainder
4%2

In [3]:
#Float Division
4/2

2.0

In [4]:
#Integer Division
4//2

2

In [5]:
#Bodmas -- Bracket,off,division,multiplication,addition,subtractions
(2+3)*10

50

In [6]:
type(c)

NameError: name 'c' is not defined

In [ ]:
a=10
b=20
c=a+b
print(c)
type(c)

In [ ]:
type('vinay')

In [ ]:
##Boolean expression
type(True and False)

In [ ]:
True or False

In [ ]:
# one is bitwise and other is logical (**************************************)
True | False

In [ ]:
a=10
b=20
a+b>30 | a-b<10

In [ ]:
a=10
b=20
a+b>30 or a-b<10

In [ ]:
### Strings
type('krish')

In [ ]:
type('k')

In [ ]:
str(1)

In [ ]:
#Even though it is a letter or word or sentence , it returns as string 
type('Vinay is a king')

-----Notes:-
    
str = "vinay is a king" 

Str(1)

OutPut:-
    TypeError                                 Traceback (most recent call last)
<ipython-input-4-5c73dd08b6cc> in <module>
----> 1 str(1)

TypeError: 'str' object is not callable

###### Now we got str(1) as error, because we changed the functionallity by doing (str = "vinay is a king" )of in-built function or Keyword str.
##### restart the Kernel and remove or change the code to retain your functionallity of the str.

In [8]:
str1 = "vinay is a good boy"
str2 = "king is a bad boy"

In [9]:
print(str1,str2)

vinay is a good boy king is a bad boy

In [10]:
print(str1),print(str2)

vinay is a good boy
king is a bad boy

(None, None)

In [11]:
#None None bcoz of type (dont care about that)

In [12]:
str1+str2

'vinay is a good boyking is a bad boy'

In [13]:
Name=input("Enter your Name")
print(Name)

Enter your NameVinay Kotha
Vinay Kotha

In [14]:
Name=input("Enter your Name")
print("Your Name is :",Name)

Enter your NameVinay Kotha
Your Name is : Vinay Kotha

In [16]:
##Add 2 numbers
a= input("Enter your 1st Number")
b=input("Enter your 2nd number")
c=a+b
print ("Output of addition is :",c)

Enter your 1st Number2
Enter your 2nd number3
Output of addition is : 23

Note:-
hahahahahhah, it returns 23 bcoz it took it as string , so please do type casting

In [18]:
##Add 2 numbers
a= int(input("Enter your 1st Number"))
b= int(input("Enter your 2nd number"))
c=a+b
print ("Output of addition is :",c)

Enter your 1st Number5
Enter your 2nd number6
Output of addition is : 11

In [19]:
##Add 2 numbers
a= float(input("Enter your 1st Number"))
b= float(input("Enter your 2nd number"))
c=a+b
print ("Output of addition is :",c)

Enter your 1st Number11.5
Enter your 2nd number12.3
Output of addition is : 23.8

In [1]:
#String Formatting
FirstName = input("Enter your first name")
SecondName = input("Enter your second name")
# i want --> My first name is vinay last name is king
# Use string formatting ( Use place holders)
print("My first name is {} last name is {}".format(FirstName,SecondName))

Enter your first nameVinay
Enter your second nameKing
My first name is Vinay last name is King

In [2]:
###String Formatting
FirstName = input("Enter your first name")
SecondName = input("Enter your second name")
print("My first name is {First_Name} last name is {Second_Name}".format(First_Name=FirstName,Second_Name=SecondName))

Enter your first namevinay
Enter your second namekotha
My first name is vinay last name is kotha

# Variable Dynamic Typing

In [5]:
a=10.0
type(a)

float

In [6]:
b=10
type(b)

int

In [7]:
a='Krish'
type(a)

str

In [9]:
##Strong Typing
Vinay+1

NameError: name 'Vinay' is not defined

In [10]:
##It can only concatenate string with integer

In [12]:
'Vinay'+str(1)

'Vinay1'

Note:-In python concatenate works when the data types are same for the values given

# Conditional Statements

In [16]:
##if and else(Indendation happens if we give colon in consitional statements)
a=int(input("Enter a 1st number"))
b=int(input("Enter a 2nd number"))
c=a-b
print("Output is",c)
if c<0:
    print("Number is negative")
else:
    print("Number is positive")

Enter a 1st number10
Enter a 2nd number20
Output is -10
Number is negative

In [18]:
##if,elif and else 
a=int(input("Enter a 1st number"))
b=int(input("Enter a 2nd number"))
c=a-b
print("Output is",c)
if c<0:
    print("Number is negative")
elif c>40:
    print("Difference is huge")
else:
    print("Number is positive")

Enter a 1st number90
Enter a 2nd number10
Output is 80
Difference is huge

In [19]:
##In Conditional Statements , Indendation is very important

### Data Structures
1.List
2.Tuple
3.Strings
4.Dictionary
5.Sets

In [22]:
##Warning--> Dont use keywords as a variable

In [23]:
lst=[1,2,'vinay','king']

In [24]:
type(lst)

list

In [25]:
##To check functions---> Google Python list documentations

In [26]:
lst.append("data scientist")

In [27]:
print(lst)

[1, 2, 'vinay', 'king', 'data scientist']

In [28]:
print(lst(2))

TypeError: 'list' object is not callable

In [30]:
##use correct braces
print(lst[2])

vinay

In [31]:
lst.append("vinay")
print(lst)

[1, 2, 'vinay', 'king', 'data scientist', 'vinay']

In [32]:
lst.count('vinay')

2

In [33]:
##Indexing
str1 = 'VinayKing'
print(str1)
print(str1[2])

VinayKing
n

In [1]:
str[3]=a

NameError: name 'a' is not defined

Note:-
string values cannot be overriden because strings are immutable(Interview Question).
List is muttable , we can ovveride or add the values in the list at any time